<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8"/>

        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/transition.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/form.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dimmer.js"></script>

        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }

            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }
        </style>
    </th:block>
</head>

<body>
<div th:fragment="navbar">
    <div class="ui top fixed menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png"/>
                Project Name
            </a>
            <a th:href="@{/user/profile}" class="item">Home</a>
            <a th:href="@{/goals}" class="item">Goals</a>
            <a th:href="@{/people}" class="item">People</a>
        </div>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..."/>
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item" th:href="@{/user/profile}" th:text="${user.getLogin()}">Profile</a>
            <a class="ui item" href="/logout">Log out</a>
        </div>
    </div>
</div>
</body>
</html>