<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Followers</title>
    <div th:include="fragments/header :: head"></div>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css"/>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/faltpickr/flatpickr.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flatpickr/dark.css"/>
    <link href="/css/profile.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:include="fragments/header :: navbar"></div>
<div id="sub">
    <div class="ui center aligned grid">
        <th:block th:each="follower : ${followers}">
            <div class="three wide column">
                <div class="ui cards">
                    <div class="ui card">
                        <div class="image">
                            <th:block th:switch="${follower.getUser().getImage()}">
                                <th:block th:case="null">
                                    <img src="https://semantic-ui.com/images/avatar2/large/kristy.png"/>
                                </th:block>
                                <th:block>
                                    <img th:src="@{'~/storage/' + ${follower.getUser().getImage().getFileName()}}"/>
                                </th:block>
                            </th:block>
                        </div>
                        <div class="content left aligned">
                            <a class="header" th:text="${follower.getUser().getLogin()}"
                               th:href="@{'/user/' + ${follower.getUser().getLogin()}}">
                            </a>
                            <div class="meta">
                                Registration date
                                <a th:text="${follower.getUser().getRegDate()}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>