<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My goal</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
    <link href="/css/goal.css" rel="stylesheet" type="text/css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/transition.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/form.js"></script>
</head>
<body>
<!--<div class="ui borderless main menu">-->
<!--<div class="ui text container">-->
<!--<div th:include="fragments/header :: navbar"></div>-->
<!--</div>-->
<!--</div>-->

<div class="ui borderless main menu">

<div th:include="fragments/header :: navbar"></div>
</div>
<div class="ui middle aligned center aligned grid">

    <!--<div class="column">-->
        <!--<div class="ui segment">-->
            <!--&lt;!&ndash;<div id="MainProfile">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="column">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="ui special cards">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="blurring dimmable image">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="ui inverted dimmer">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="center">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<form id="upload-file-form" enctype="multipart/form-data" method="post"&ndash;&gt;-->
                                                      <!--&lt;!&ndash;th:action="@{/upload}">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<label for="file" class="ui icon primary button">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="file icon"></i>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;Change Photo</label>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<input id="file" type="file" name="file" accept="image/*"&ndash;&gt;-->
                                                           <!--&lt;!&ndash;style="display:none"/>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th:block th:switch="${user.getImage()}">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th:block th:case="null">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<img src="https://semantic-ui.com/images/avatar2/large/kristy.png"/>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</th:block>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th:block>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<img th:src="@{~/storage/} + ${user.getImage().getFileName()}"/>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</th:block>&ndash;&gt;-->
                                <!--&lt;!&ndash;</th:block>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="header" th:text="${user.getLogin()}"></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="meta">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span class="header" th:text="${user.getRegDate()}"></span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="description">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="extra content">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="user icon"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th:block th:text="'22 Friends'">22 Friends</th:block>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <div class="column">
        <div class="ui raised very padded text grid container blue segment">
            <h3 th:text="${goal.getName()}"></h3>
        </div>

        <div class="ui raised very padded text grid container black segment">
            <div class="description" th:text="${goal.getDescription()}" id="description">
            </div>
        </div>
    </div>
</div>
<!--<div th:include="fragments/footer :: foot"></div>-->

</body>

</html>
