<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>New Goal</title>
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"/>
</head>
<body>
<div class="uk-offcanvas-content">
    <!--HEADER-->
    <header style="background-color: #fff; border-bottom: 1px solid #f2f2f2"
            data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
        <div class="uk-container">
            <nav id="navbar" data-uk-navbar="mode: click;">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#" data-uk-icon="icon:user"></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-nav-header uk-text-small uk-text-primary">YOUR ACCOUNT</li>
                                    <li><a th:href="@{/user/profile}"><span data-uk-icon="icon: info"></span>
                                        Profile</a></li>
                                    <li><a href="#"><span data-uk-icon="icon: refresh"></span> Edit</a></li>
                                    <li><a href="#"><span data-uk-icon="icon: settings"></span> Configuration</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a th:href="@{/logout}"><span data-uk-icon="icon: sign-out"></span> Logout</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="uk-visible@s">
                            <div>
                                <a class="uk-navbar-toggle" data-uk-icon="icon: search" href="#"></a>
                                <div class="uk-drop" data-uk-drop="mode: click; pos: right-center; offset: 0; boundary: #navbar">
                                    <form th:action="@{/search}" class="uk-search uk-search-navbar uk-search-small uk-width-1-1">
                                        <input class="uk-search-input" th:name="query" type="search" placeholder="Search..."/>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-center">
                    <a class="uk-navbar-item uk-logo" href="#"><strong>NEW GOAL</strong></a>
                </div>
                <div class="uk-navbar-right">

                    <div class="uk-navbar-item">
                        <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle="data-uk-toggle" data-uk-navbar-toggle-icon="data-uk-navbar-toggle-icon"
                           href="#offcanvas-nav"></a>
                        <a href="#" class="uk-button uk-button-default uk-visible@m">PUBLISH</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--/HEADER-->
    <!--GOAL FORM-->
    <section class="uk-section uk-section-small">
        <form class="uk-form-horizontal uk-margin-xlarge-left uk-margin-xlarge-right" enctype="multipart/form-data" th:object="${goal}" method="post">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-middle uk-text-middle" for="goal-name">OUTLINE YOUR GOAL</label>
                <div class="uk-form-controls">
                    <input th:field="*{goalName}" class="uk-input" id="goal-name" type="text" placeholder="e.g. Buy MacBook..."/>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label uk-text-middle uk-text-middle" for="goal-criteria">ACCOMPLISHMENT CRITERIA</label>
                <div class="uk-form-controls">
                    <input th:field="*{accomplishmentCriteria}" class="uk-input" id="goal-criteria" type="text" placeholder="e.g. MacBook is bought..."/>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label uk-text-middle uk-text-middle" for="goal-description">DESCRIPTION</label>
                <div class="uk-form-controls">
                    <textarea th:field="*{description}" class="uk-textarea autoexpand" id="goal-description" data-min-rows="5" style="resize: vertical; min-height: 120px"></textarea>
                </div>
            </div>
            <label class="uk-form-label uk-text-middle uk-text-middle uk-margin-small-right" for="goal-image">IMAGE</label>
            <div class="uk-margin">
                <div uk-form-custom="target: true">
                    <input th:field="*{image}" name="file" type="file" id="file" accept="image/*"/>
                    <input class="uk-input uk-form-width-large" type="text" id="goal-image" placeholder="Select Image" disabled="disabled"/>
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-form-controls">
                    <input class="uk-button uk-button-primary" type="submit" value="CREATE GOAL"/>
                </div>
            </div>
        </form>

        <!--<form class="uk-form-horizontal uk-margin-large">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Text</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Some text..."/>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Select</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-horizontal-select">
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>
            </div>
        </form>-->
    </section>
    <!--/GOAL FORM-->
</div>

<!-- JS FILES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit-icons.min.js"></script>
</body>
</html>