<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My profile</title>
    <div th:include="fragments/header :: head"></div>

    <link href="/css/profile.css" rel="stylesheet" type="text/css"/>

    <script>
        $('#file').change(function () {
            $('#upload-file-form').submit();
        });
    </script>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css"/>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/flatpickr/flatpickr.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flatpickr/dark.css"/>

    <!--<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>-->
    <script src="/js/flatpickr.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dimmer.js"></script>-->
    <script src="/js/semantic/dimmer.js"></script>
</head>
<body>

<div th:include="fragments/header :: navbar"></div>

<div>
    <div id="main-content">
        <th:block th:each="goal : ${goals}">
            <div class="ui card ai" id="cards">
                <div class="ui slide masked reveal image"><img id="picGoal" class="visible content"
                                                               src="https://pngicon.ru//data/media/2/kubok.png"/>
                </div>
                <div class="content"><a class="header" th:text="${goal.getName()}">Goal name</a>
                    <div class="description" th:text="${goal.getDescription()}">Description of the goal</div>
                </div>
                <div class="extra content">
                    <div class="ui indicating progress active" data-percent="20">
                        <div class="bar" style="transition-duration: 300ms; width: 80%;"></div>
                        <div class="label">Goal in Progress</div>
                    </div>
                </div>
            </div>
        </th:block>
        <!--<div class="ui card ai" id="cards2">-->
        <!--<div class="ui slide masked reveal image"><img id="picGoal2" class="visible content"-->
        <!--src="https://pngicon.ru//data/media/2/kubok.png"/>-->
        <!--<img class="hidden content" src="http://alexlusitania.com/img/betafantastika_ice_hockey.jpg"/></div>-->
        <!--<div class="content"><a class="header">My last goal #2</a>-->
        <!--&lt;!&ndash;<div class="meta"><span class="date">Date of creation</span></div>&ndash;&gt;-->
        <!--<div class="description">Description of this goal</div>-->
        <!--</div>-->
        <!--<div class="extra content">-->
        <!--<div class="ui indicating progress active" data-percent="50">-->
        <!--<div class="bar" style="transition-duration: 300ms; width: 30%;"></div>-->
        <!--<div class="label">Goal in Progress</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="ui card ai" id="cards3">-->
        <!--<div class="ui slide masked reveal image">-->
        <!--<img id="picGoal3" class="visible content" src="https://pngicon.ru//data/media/2/kubok.png"/>-->
        <!--<img class="hidden content" src="http://alexlusitania.com/img/betafantastika_ice_hockey.jpg"/></div>-->
        <!--<div class="content"><a class="header">My last goal #3</a>-->
        <!--&lt;!&ndash;<div class="meta"><span class="date">Date of creation</span></div>&ndash;&gt;-->
        <!--<div class="description">Description of this goal</div>-->
        <!--</div>-->
        <!--<div class="extra content">-->
        <!--<div class="ui indicating progress active" data-percent="80">-->
        <!--<div class="bar" style="transition-duration: 300ms; width: 50%;"></div>-->
        <!--<div class="label">Goal in Progress</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div id="MainProfile">
        <div class="column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <div>
                                        <form id="upload-file-form" enctype="multipart/form-data" method="post"
                                              th:action="@{/upload}">
                                            <label for="file" class="ui icon primary button">
                                                <i class="file icon"></i>
                                                Change Photo</label>
                                            <input id="file" type="file" name="file" accept="image/*"
                                                   style="display:none"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:switch="${user.getImage()}">
                            <th:block th:case="null">
                                <!--<img src="https://semantic-ui.com/images/avatar2/large/kristy.png"/>-->
                                <img src="/img/Kristy.png"/>
                            </th:block>
                            <th:block th:case="*">
                                <img th:src="@{'~/storage/' + ${user.getImage().getFileName()}}"/>
                            </th:block>
                        </th:block>
                    </div>
                    <div class="content">
                        <a class="header" th:text="${user.getLogin()}"></a>
                        <div class="meta">
                            <a class="header" th:text="${user.getMoney().toString()} + ' BTC'" th:href="@{/money}"></a>
                        </div>
                        <div class="description">
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            <th:block th:text="'22 Friends'">22 Friends</th:block>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical buttons" id="verticalBut">
                <button class="ui button"><a th:href="@{/user/following}">Following</a></button>
                <button class="ui button"><a th:href="@{/user/followers}">Followers</a></button>
                <button class="ui button"><a th:href="@{/user/myGoals}">My goals</a></button>
            </div>
            <!--<button th:href="@{/user/subscriptions}">Following</button>-->
        </div>
    </div>
    <th:block th:if="${error != null}">
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Error
            </div>
            <p th:text="${error}">Error description
            </p></div>
    </th:block>
    <form class="ui form" id="mainForm" method="post" name="GoalForm" th:action="@{'/user/profile'}">
        <!--<div class="ui form"   >-->
        <div class="fields">
            <div class="field">
                <div id="l1">
                    <label>My new goal is</label>
                </div>
                <input type="text" name="goalName" placeholder="Goal"/>

                <div id="description">
                    <div id="lb">
                        <label for="goal-description">Description</label>
                    </div>
                    <textarea rows="7" name="description" id="goal-description"></textarea>
                </div>
                <div id="planLabel">
                    <label>My plan:</label>
                </div>

                <div class="input_fields_wrap">
                    <div id="checkPointName">
                        <input type="text" name="checkpointName" placeholder="Checkpoint name"/>
                    </div>
                    <div id="chLabel">
                        <label for="checkpointDescription">Description for the checkpoint</label>
                    </div>
                    <textarea rows="4" name="checkpointDescription" id="checkPointDescription"></textarea>
                </div>
                <div id="checkpointButton">
                    <button class="ui blue button" id="add_field_button">New Checkpoint</button>
                </div>

                <div id="Crypto">
                    <div id="wouldLabel">
                        <label id="priceQuestion">Would you like to add a price of your goal?</label>
                    </div>
                    <div class="ui form">
                        <div class="inline  fields" id="inlineCheckbox">
                            <div id="selectCr">
                                <label>Select your cryptocurrency :</label>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="frequency" checked="checked"/>
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="frequency"/>
                                    <label>Bitcoin</label>
                                </div>
                            </div>
                        </div>
                        <div id="priceD">
                            <input type="text" id="price" name="price" placeholder="Price"/>
                        </div>
                        <div id="endingDate">
                            <input type="text" id="basicDate" name="dateEnd" placeholder="I'll achieve my goal..."/>
                        </div>
                    </div>
                    <div id="createGoalButton">
                        <input type="submit" value="Create Goal" th:href="@{/goals}"
                               class="positive ui button  submit button"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $("#basicDate").flatpickr({
        enableTime: false,
        dateFormat: "F, d Y"
    });
</script>
<script>
    $(document).ready(function () {
        var wrapper = $(".input_fields_wrap");
        var add_button = $("#add_field_button");

        $(add_button).click(function (e) {
            e.preventDefault();
            $(wrapper).append('<div id="checkPointName" ><input type="text" name="checkPointName" placeholder="Checkpoint name"/></div>\n' +
                '                <div id="chLabel">\n' +
                '                    <label for="checkPointDescription">Description for the checkpoint</label>\n' +
                '                </div>\n' +
                '                <textarea rows="4" id="checkPointDescription"></textarea>');
        });
    });
</script>

<script>
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
    $('#file').change(function () {
        $('#upload-file-form').submit();
    });
</script>
</body>
</html>