<!DOCTYPE html>
<html lang="en" class="uk-height-1-1" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Register</title>
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"/>
</head>
<body class="uk-height-1-1">
<div class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
    <div class="uk-width-medium uk-padding-small">
        <form th:method="post" th:object="${user}">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Register</legend>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                        <input name="login" class="uk-input" required="required" placeholder="username" type="text" th:field="*{login}"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                        <input name="email" class="uk-input" required="required" placeholder="e-mail" type="text" th:field="*{email}"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                        <input name="login" class="uk-input" required="required" placeholder="first name" type="text" th:field="*{firstName}"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                        <input name="login" class="uk-input" required="required" placeholder="last name" type="text" th:field="*{lastName}"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                        <input name="password" class="uk-input" required="required" placeholder="password" type="password" th:field="*{password}"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                        <input name="password-repeat" class="uk-input" required="required" placeholder="repeat password" type="password" th:field="*{matchingPassword}"/>
                    </div>
                </div>
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary uk-button-primary uk-width-1-1">REGISTER</button>
                </div>
            </fieldset>
        </form>
        <hr />
        <div class="uk-text-center">
            <p>Already have an account?</p>
            <a th:href="@{/login}" class="uk-button uk-button-secondary">
                <span class="ion-android-person-add"></span>&nbsp; Log in
            </a>
        </div>
    </div>
</div>

<!-- JS FILES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
</body>
</html>