<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="${user.getLogin()} + ' profile page'"></title>
    <div th:include="fragments/header :: head"></div>

    <link href="/css/profile.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css"/>
</head>
<body>
<div th:include="fragments/header :: navbar"></div>

<div id="main-content">
    <h3 th:text="${user.getLogin()}"></h3>
</div>
</body>
</html>