<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <div th:include="fragments/header :: head"></div>

    <title>Document</title>

    <style>
        #main-content {
            padding-top: 4.5%;
            padding-left: 0.5%;
            float: left;
        }

        #description {
            overflow: auto;
        }

    </style>

</head>
<body>
<div th:include="fragments/header :: navbar"></div>

<div id="main-content">
    <div class="ui secondary pointing menu">
        <a class="active item" th:href="@{/goals}">Recommended</a>
        <a class="item" th:href="@{/goals(section=new)}">New</a>
        <a class="item" th:href="@{/goals(section=test)}">###</a>
    </div>
    <div class="ui center aligned grid">
        <th:block th:each="goal : ${goals}">
            <div class="three wide column">
                <div class="ui cards">
                    <div class="ui card">
                        <th:block th:if="${goal.getImage() != null}">
                            <div class="image">
                                <img src="/img/Kristy.png" th:src="/storage/${goal.getImage().getFileName()}"/>
                            </div>
                        </th:block>
                        <div class="content left aligned">
                            <a class="header" th:text="${goal.getName()}" th:href="@{'/goal/' + ${goal.getId()}}"></a>
                            <div class="meta">
                            <span class="date" th:text="'Goal started: '
                            + ${goal.getDateStart()}">
                            </span>
                            </div>
                            <!--<div class="description">-->
                            <!--<span th:text="${goal.getDescription()}">-->
                            <!--</span>-->
                        </div>
                        <div class="extra content">
                            <span class="left floated">
                                <i class="like icon"></i>
                                <th:block th:text="likes">22 Friends</th:block>
                                </span>
                            <a>
                            <span class="right floated">
                                <i class="bell outline icon"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>