<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <div th:include="fragments/header :: head"></div>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css"/>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/faltpickr/flatpickr.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flatpickr/dark.css"/>
    <link href="/css/profile.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:include="fragments/header :: navbar"></div>

<div id="main-content">
    <div class="ui center aligned grid">
        <th:block th:each="user : ${people}">
            <div class="three wide column">
                <div class="ui cards">
                    <div class="ui card">
                        <div class="image">
                            <th:block th:switch="${user.getImage()}">
                                <th:block th:case="null">
                                    <!--<img src="https://semantic-ui.com/images/avatar2/large/kristy.png"/>-->
                                    <img src="/img/Kristy.png"/>
                                </th:block>
                                <th:block th:case="*">
                                    <img th:src="@{'~/storage/' + ${user.getImage().getFileName()}}"/>
                                </th:block>
                            </th:block>
                        </div>
                        <div class="content left aligned">
                            <a class="header" th:text="${user.getLogin()}" th:href="@{'/user/' + ${user.getLogin()}}">Kristy</a>
                            <div class="meta">
                                Registration date
                                <a th:text="${user.getRegDate()}"></a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </th:block>
    </div>
</div>

</body>
</html>